@font-face {
  font-family: Nunito;
  font-weight: normal;
  src: url('assets/Nunito-ExtraLight.ttf');
}

@font-face {
  font-family: Nunito;
  font-weight: bold;
  src: url('assets/Nunito-SemiBold.ttf');
}

$white: rgb(255, 255, 255);
$gray: rgb(180, 180, 180);
$black: rgb(0, 0, 0);
$blue: rgb(50, 50, 200);
$green: rgb(50, 200, 50);

$gray1: rgb(180, 180, 180);
$gray2: rgb(220, 220, 220);
$invisible: rgba(0, 0, 0, 0);

$mobileWidth: 520px;

@mixin full {
  position: absolute;
  inset: 0;
}

@mixin fade {
  transition: opacity .5s, visibility .5s;
}

body, html {
  position: fixed;
  overflow: auto !important;

  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  -webkit-overflow-scrolling : touch !important;

}

body, html, button, input, textarea {
  font-family: 'Nunito', sans-serif;
  -webkit-tap-highlight-color: transparent;
  // letter-spacing: .125rem;
}

.app {
  @include full;

  button {
    padding: .25rem .75rem;
    border: none;
    margin: .5rem .25rem;
    cursor: pointer;
    user-select: none;
  }

  .hidden {
    opacity: 0;
    visibility: hidden;
  }

  .disabled {
    filter: blur(.5rem);
    opacity: .5;
    pointer-events: none;
  }

  .close {
    position: absolute;
    top: 2rem;
    right: 0;
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin: 1rem;
    border-radius: 50%;
    text-align: center;
  }

  .game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    &-emoji {

      &-display {
        text-align: center;
        img {
          width: 4rem;
          height: 4rem;
          margin: 0 .25rem;
        }
      }
    }

    &-input {
      display: flex;
      width: 100%;
      overflow-x: hidden;

      &-form {
        position: relative;
        display: inline-flex;
        width: auto;
        max-width: calc(100% - 10rem);
        flex-wrap: wrap;
        margin: auto;

        input, span {
          width: 2rem;
          min-width: 2rem;
          padding: 0;
          border: none;
          border-bottom: 2px solid $black;
          margin-right: .5rem;
          border-radius: 0;
          // flex: 1;
          color: lighten($black, 50%);
          font-size: 3rem;
          line-height: 3rem;
          outline: none;
          text-align: center;
          transition: border .25s;
        }
        input {
          &:focus {
            border-bottom: 4px solid $black;
          }

          &.correct {
            border-bottom: none !important;
            // font-weight: bold;
            color: $black;
            pointer-events: none;
          }

          &.invalid {
            border-bottom: 4px solid red;
          }
        }
        // these are the hidden spans used to calc width
        span {
          width: auto;
        }

        &-submit {
          margin-right: auto;
        }
      }
    }

    &-guesses {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      margin-top: 1rem;
      &:not(:empty):after {
        display: block;
        content: 'Guesses:';
        font-weight: bold
      }

      &-guess {
        text-align: center;

        span {
          margin-right: .25rem;
          color: $gray;

          &.correct {
            // text-decoration: underline;
            color: $green;
            font-weight: bold;
          }
        }
      }
    }
  }

  .instructions {
    // @include full;
    position: absolute;
    top: 3rem;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);

    &-carousel {
      position: relative;
      // position: absolute;
      // left: 50%;
      width: 400px;
      height: 420px;
      outline: 2px solid $black;
      overflow-x: hidden;
      // transform: translateX(-50%);

      &-screens {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        transition: transform .5s;

        &-screen {
          position: relative;
          display: flex;
          width: 100%;
          height: 100%;
          flex-direction: column;
          align-items: center;

          img{
            width: calc(100% - 4rem);
            outline: 1px solid blue;
          }
        }
      }
      &-controls {
        position: absolute;
        top: 0;
        width: calc(100% - 2rem);
        height: 100%;
        margin: 0 1rem;

        button {
          position: absolute;
          top: 50%;
          width: 2rem;
          height: 2rem;
          border: none;
          background: $gray;
          border-radius: 50%;
          transform: translate(-50%, -50%);
        }

        &-next {
          left: 100%;
          // transform: translate(-50%, -50%) !important;
        }
      }
      &-dots {
        position: absolute;
        bottom: 0;
        display: flex;
        width: 100%;
        height: 1rem;
        justify-content: center;

        & > span {
          display: inline-block;
          width: .5rem;
          height: .5rem;
          border: none;
          margin: .25rem;
          background: $gray;
          border-radius: 50%;
          opacity: .5;
          transition: opacity .25s;
          &.active {
            opacity: 1;
          }
        }
      }
    }
  }

  .menu {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 3rem;
    flex-direction: row;
    justify-content: center;
  }
}

.keyboard {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  height: 0;
  background-color: $gray1;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  pointer-events: none;

  &-keys {
    top: 0;
    left: 0;
    // left: 1rem;
    display: flex;
    width: calc(100% - 2rem);
    height: 100%;
    height: fit-content;
    flex-wrap: wrap;
    // align-items: stretch;
    justify-content: center;
    padding: .5rem 0;
    margin: 0 1rem;

    &-key {
      position: relative;
      display: flex;
      // flex: 1;
      width: calc(10% - 4px);
      align-items: center;
      justify-content: center;
      padding: .5rem 0;
      border: 2px solid $gray1;
      background-color: rgba(255, 255, 255, .25);
      border-radius: .5rem;
      color: $white;
      font-size: 1.5rem;
      line-height: 2.5rem;
      pointer-events: all;
      // * {
      touch-action: pan-y;
      transition: background-color .1s;
      user-select: none;

      &:active {
        background-color: lighten($gray2, 10%);
      }
      &[key*="pad"], &[key*="newline"] {
        visibility: hidden;
      }
      &[key*="pad"] {
        width: calc(4.5% - 4px);
        // flex: 1;
      }
      &[key*="newline"] {
        height: 0;
        flex-basis: 100%;
        padding: 0;
        border: 0;
      }
      &[key*="back"], &[key*="space"] {
        color: $invisible;
        &:after {
          @include full;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 75%;
          content: '';
        }
      }

      &[key*="space"] {
        width: 100%;
      }

      &[key*="back"]:after {
        background-image: url('assets/backspace-key.svg');
      }

      &[key*="enter"] {
        font-size: 1rem;
        font-weight: bold;
      }

      &[key*="enter"], &[key*="back"] {
        width: calc(19% - 24px);
      }
    }
  }
}

@media (max-width: $mobileWidth) {
  body, html {
    font-size: 12px;
  }

  .keyboard {
    height: auto;
  }
}
